<ion-header>
  <ion-toolbar color="primary">
    <ion-row>
      <ion-col size="2" style="text-align: left;" (click)="backoption()">
        <ion-icon name="arrow-back" style="font-size: 30px;padding-left: 10px;"></ion-icon>
      </ion-col>
      <ion-col size="10">
        <ion-title style="padding-top: 6px;">Terms and Conditions</ion-title>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none" style="padding: 15px;">
    <h4>By using this website, you agree to our terms and conditions.</h4>
    <p class="paragraphstyle">1. Users must be at least 18 years old (or meet the legal marriageable age in their country).</p>
    <p class="paragraphstyle">2. Users must provide accurate and truthful information during registration.</p>
    <p class="paragraphstyle">3. The website reserves the right to terminate accounts that violate policies.</p>
    <p class="paragraphstyle">4. Users must provide authentic and verifiable details.</p>
    <p class="paragraphstyle">5. Misleading or false information may result in account suspension.</p>
    <p class="paragraphstyle">6. Personal contact details should not be publicly shared on the profile.</p>
    <p class="paragraphstyle">7. Users can access free or premium membership plans.</p>
    <p class="paragraphstyle">8. Payments made for premium services are non-refundable.</p>
    <p class="paragraphstyle">9. The website reserves the right to modify membership fees and services.</p>
    <p class="paragraphstyle">10. Harassment or misbehavior with other members will lead to account suspension.</p>
    <p class="paragraphstyle">11. Users must communicate respectfully with other members.</p>
    <p class="paragraphstyle">12. The platform is not responsible for conversations outside the website.</p>
    <p class="paragraphstyle">13. The platform reserves the right to suspend or terminate accounts that violate policies.</p>
    <p class="paragraphstyle">14. The platform may update or modify these terms at any time.</p>
  </ion-list>
</ion-content>
