<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>My Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="profiledata">
  <div class="profile-header">
    <ion-avatar class="profile-picture" *ngIf="profiledataedit.Profile_Image" >
      <img src="{{profiledataedit.Profile_Image}}" alt="Profile Picture">
    </ion-avatar>
    <ion-avatar class="profile-picture" *ngIf="!profiledataedit.Profile_Image">
      <img src="assets/imgs/profile.png" alt="Profile Picture">
    </ion-avatar>
    <div class="file-input-wrapper">
      <img src="assets/imgs/camera.png" class="camera-icon">
      <input type="file" class="file-input" (change)="onImageSelected($event)" accept="image/*">
    </div>
    <div class="profile-count-wrapper">
      <div>{{completionpercentage}}%</div>
    </div>
  </div>
  <ion-list lines="none" style="margin-top: 15%;">
    <div class="updatepicture">Update picture</div>

    <ion-card *ngFor="let item of myplanlist" class="cardstyle">
      <ion-card-content style="border-bottom: 1px solid;">
        <ion-row>
          <ion-col size="6">
            <div class="contectheader">Schema Name</div>
            <div class="contentvalue">{{item.SchemaName}}</div>
          </ion-col>
          <ion-col size="6">
            <div class="contectheader">Profiles Available</div>
            <div class="contentvalue">{{item.PlanBalance}}</div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6">
            <div class="contectheader">Viewed</div>
            <div class="contentvalue">{{item.TotalProfilesViewed}}</div>
          </ion-col>
          <ion-col size="6">
            <div class="contectheader">Plan Balance</div>
            <div class="contentvalue">{{item.PlanBalance}}</div>
          </ion-col>
        </ion-row>
      </ion-card-content>
      <ion-row style="margin-top: 10px;" (click)="subscriptionHistoryPage()">
        <ion-col size="10">
          <div class="contectheader" style="text-align: left;">View Subscription history</div>
        </ion-col>
        <ion-col size="2" style="text-align: right;">
          <ion-icon name="chevron-forward" style="font-size: 25px;color: #595959;"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-card>
  </ion-list>

  <ion-segment color="primary" [(ngModel)]="selectedOption" (ionChange)="segmentChanged($event)">
    <ion-segment-button value="about">
      <ion-label>About</ion-label>
    </ion-segment-button>
    <ion-segment-button value="family">
      <ion-label>Family</ion-label>
    </ion-segment-button>
    <ion-segment-button value="preferences">
      <ion-label>Preferences</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div *ngIf="selectedOption === 'about'" style="margin-top: 15px;">
    <ion-row>
      <ion-col size="10">
        <div class="headerstyle">Personal Details</div>
      </ion-col>
      <ion-col size="2" style="text-align: center;margin: auto;" (click)="handlepersonalmodal(true)">
        <img src="assets/imgs/edit.png" style="height: 30px;border-radius: 50%;">
      </ion-col>
    </ion-row>
    <ion-card class="personaldetailscard" *ngFor="let item of profiledata">
      <ion-row>
        <ion-col size="5">
          <div class="personaldetailsheader">Full Name</div>
        </ion-col>
        <ion-col size="1">
          <div class="personaldetailsvalue">:</div>
        </ion-col>
        <ion-col size="6">
          <div class="personaldetailsvalue">{{item.FullName}}</div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5">
          <div class="personaldetailsheader">Date of Birth</div>
        </ion-col>
        <ion-col size="1">
          <div class="personaldetailsvalue">:</div>
        </ion-col>
        <ion-col size="6">
          <div class="personaldetailsvalue">{{item.DOB}}</div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5">
          <div class="personaldetailsheader">Age</div>
        </ion-col>
        <ion-col size="1">
          <div class="personaldetailsvalue">:</div>
        </ion-col>
        <ion-col size="6">
          <div class="personaldetailsvalue">{{item.Age}}</div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5">
          <div class="personaldetailsheader">Height</div>
        </ion-col>
        <ion-col size="1">
          <div class="personaldetailsvalue">:</div>
        </ion-col>
        <ion-col size="6">
          <div class="personaldetailsvalue">{{item.Height}}</div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5">
          <div class="personaldetailsheader">Weight</div>
        </ion-col>
        <ion-col size="1">
          <div class="personaldetailsvalue">:</div>
        </ion-col>
        <ion-col size="6">
          <div class="personaldetailsvalue">{{item.Weight}}</div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5">
          <div class="personaldetailsheader">Blood Group</div>
        </ion-col>
        <ion-col size="1">
          <div class="personaldetailsvalue">:</div>
        </ion-col>
        <ion-col size="6">
          <div class="personaldetailsvalue">{{item.BloodGroup}}</div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5">
          <div class="personaldetailsheader">Gender</div>
        </ion-col>
        <ion-col size="1">
          <div class="personaldetailsvalue">:</div>
        </ion-col>
        <ion-col size="6">
          <div class="personaldetailsvalue">{{item.Gender}}</div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5">
          <div class="personaldetailsheader">Marital Status</div>
        </ion-col>
        <ion-col size="1">
          <div class="personaldetailsvalue">:</div>
        </ion-col>
        <ion-col size="6">
          <div class="personaldetailsvalue">{{item.MaritalStatus}}</div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5">
          <div class="personaldetailsheader">Mother Tongue</div>
        </ion-col>
        <ion-col size="1">
          <div class="personaldetailsvalue">:</div>
        </ion-col>
        <ion-col size="6">
          <div class="personaldetailsvalue">{{item.MotherTongue}}</div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5">
          <div class="personaldetailsheader">Religion</div>
        </ion-col>
        <ion-col size="1">
          <div class="personaldetailsvalue">:</div>
        </ion-col>
        <ion-col size="6">
          <div class="personaldetailsvalue">{{item.Religion}}</div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5">
          <div class="personaldetailsheader">Caste/Community</div>
        </ion-col>
        <ion-col size="1">
          <div class="personaldetailsvalue">:</div>
        </ion-col>
        <ion-col size="6">
          <div class="personaldetailsvalue">{{item.CasteOrCommunity}}</div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5">
          <div class="personaldetailsheader">Sub-Caste</div>
        </ion-col>
        <ion-col size="1">
          <div class="personaldetailsvalue">:</div>
        </ion-col>
        <ion-col size="6">
          <div class="personaldetailsvalue">{{item.SubCaste}}</div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5">
          <div class="personaldetailsheader">Gotra</div>
        </ion-col>
        <ion-col size="1">
          <div class="personaldetailsvalue">:</div>
        </ion-col>
        <ion-col size="6">
          <div class="personaldetailsvalue">{{item.Gotra}}</div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5">
          <div class="personaldetailsheader">Manglik</div>
        </ion-col>
        <ion-col size="1">
          <div class="personaldetailsvalue">:</div>
        </ion-col>
        <ion-col size="6">
          <div class="personaldetailsvalue" *ngIf="item.ManglikStatus == 0">No</div>
          <div class="personaldetailsvalue" *ngIf="item.ManglikStatus == 1">Yes</div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5">
          <div class="personaldetailsheader">Place of Birth</div>
        </ion-col>
        <ion-col size="1">
          <div class="personaldetailsvalue">:</div>
        </ion-col>
        <ion-col size="6">
          <div class="personaldetailsvalue">{{item.PlaceOfBirth}}</div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5">
          <div class="personaldetailsheader">Time of Birth</div>
        </ion-col>
        <ion-col size="1">
          <div class="personaldetailsvalue">:</div>
        </ion-col>
        <ion-col size="6">
          <div class="personaldetailsvalue"> {{ item.TimeOfBirth && item.TimeOfBirth.trim() !== 'NaN:NaN undefined' ? item.TimeOfBirth : '' }}</div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5">
          <div class="personaldetailsheader">Birth Star (Nakshatra)</div>
        </ion-col>
        <ion-col size="1">
          <div class="personaldetailsvalue">:</div>
        </ion-col>
        <ion-col size="6">
          <div class="personaldetailsvalue">{{item.BirthStar}}</div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5">
          <div class="personaldetailsheader">Rashi</div>
        </ion-col>
        <ion-col size="1">
          <div class="personaldetailsvalue">:</div>
        </ion-col>
        <ion-col size="6">
          <div class="personaldetailsvalue">{{item.Rashi}}</div>
        </ion-col>
      </ion-row>
    </ion-card>

    <ion-row>
      <ion-col size="10">
        <div class="headerstyle">Contact Information</div>
      </ion-col>
      <ion-col size="2" style="text-align: center;margin: auto;" (click)="handleContactModal(true)">
        <img src="assets/imgs/edit.png" style="height: 30px;border-radius: 50%;">
      </ion-col>
    </ion-row>
    <ion-card class="personaldetailscard" *ngFor="let item of profiledata">
      <ion-row>
        <ion-col size="5">
          <div class="personaldetailsheader">Phone Number</div>
        </ion-col>
        <ion-col size="1">
          <div class="personaldetailsvalue">:</div>
        </ion-col>
        <ion-col size="6">
          <div class="personaldetailsvalue">{{item.MobileNo}}</div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5">
          <div class="personaldetailsheader">Email Address</div>
        </ion-col>
        <ion-col size="1">
          <div class="personaldetailsvalue">:</div>
        </ion-col>
        <ion-col size="6">
          <div class="personaldetailsvalue">{{item.EmailID}}</div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5">
          <div class="personaldetailsheader">Address</div>
        </ion-col>
        <ion-col size="1">
          <div class="personaldetailsvalue">:</div>
        </ion-col>
        <ion-col size="6">
          <div class="personaldetailsvalue">{{item.Address}}</div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5">
          <div class="personaldetailsheader">State</div>
        </ion-col>
        <ion-col size="1">
          <div class="personaldetailsvalue">:</div>
        </ion-col>
        <ion-col size="6">
          <div class="personaldetailsvalue">{{item.StateName}}</div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5">
          <div class="personaldetailsheader">City</div>
        </ion-col>
        <ion-col size="1">
          <div class="personaldetailsvalue">:</div>
        </ion-col>
        <ion-col size="6">
          <div class="personaldetailsvalue">{{item.CityName}}</div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5">
          <div class="personaldetailsheader">Pin Code</div>
        </ion-col>
        <ion-col size="1">
          <div class="personaldetailsvalue">:</div>
        </ion-col>
        <ion-col size="6">
          <div class="personaldetailsvalue">{{unescapeGraduationYear(item.Pincode)}}</div>
        </ion-col>
      </ion-row>
    </ion-card>

    <ion-row>
      <ion-col size="10">
        <div class="headerstyle">Educational Background</div>
      </ion-col>
      <ion-col size="2" style="text-align: center;margin: auto;" (click)="handleopenEducationModal(true)">
        <img src="assets/imgs/edit.png" style="height: 30px;border-radius: 50%;">
      </ion-col>
    </ion-row>
    <ion-card class="personaldetailscard" *ngFor="let item of profiledata">
      <ion-row>
        <ion-col size="5">
          <div class="personaldetailsheader">Highest Education Qualification</div>
        </ion-col>
        <ion-col size="1">
          <div class="personaldetailsvalue">:</div>
        </ion-col>
        <ion-col size="6">
          <div class="personaldetailsvalue">{{item.HighestQualification}}</div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5">
          <div class="personaldetailsheader">Institution</div>
        </ion-col>
        <ion-col size="1">
          <div class="personaldetailsvalue">:</div>
        </ion-col>
        <ion-col size="6">
          <div class="personaldetailsvalue">{{item.InstituteOrUniversity}}</div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5">
          <div class="personaldetailsheader">Languages</div>
        </ion-col>
        <ion-col size="1">
          <div class="personaldetailsvalue">:</div>
        </ion-col>
        <ion-col size="6">
          <div class="personaldetailsvalue">{{item.LanguagesKnown}}</div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5">
          <div class="personaldetailsheader">Year of Graduation</div>
        </ion-col>
        <ion-col size="1">
          <div class="personaldetailsvalue">:</div>
        </ion-col>
        <ion-col size="6">
          <div class="personaldetailsvalue">{{unescapeGraduationYear(item.YearOfGraduation)}}</div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5">
          <div class="personaldetailsheader">Additional Qualifications(if any)</div>
        </ion-col>
        <ion-col size="1">
          <div class="personaldetailsvalue">:</div>
        </ion-col>
        <ion-col size="6">
          <div class="personaldetailsvalue">{{item.AdditionalQualifications}}</div>
        </ion-col>
      </ion-row>
    </ion-card>

    <ion-row>
      <ion-col size="10">
        <div class="headerstyle">Professional Details</div>
      </ion-col>
      <ion-col size="2" style="text-align: center;margin: auto;">
        <img src="assets/imgs/edit.png" style="height: 30px;border-radius: 50%;" (click)="handleopenProfessionalModal(true)">
      </ion-col>
    </ion-row>
    <ion-card class="personaldetailscard" *ngFor="let item of profiledata">
      <ion-row>
        <ion-col size="5">
          <div class="personaldetailsheader">Occupation</div>
        </ion-col>
        <ion-col size="1">
          <div class="personaldetailsvalue">:</div>
        </ion-col>
        <ion-col size="6">
          <div class="personaldetailsvalue">{{item.Occupation}}</div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5">
          <div class="personaldetailsheader">Company</div>
        </ion-col>
        <ion-col size="1">
          <div class="personaldetailsvalue">:</div>
        </ion-col>
        <ion-col size="6">
          <div class="personaldetailsvalue">{{item.Company}}</div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5">
          <div class="personaldetailsheader">Work Exprience</div>
        </ion-col>
        <ion-col size="1">
          <div class="personaldetailsvalue">:</div>
        </ion-col>
        <ion-col size="6">
          <div class="personaldetailsvalue">{{item.WorkExperience}}</div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5">
          <div class="personaldetailsheader">Annual Income</div>
        </ion-col>
        <ion-col size="1">
          <div class="personaldetailsvalue">:</div>
        </ion-col>
        <ion-col size="6">
          <div class="personaldetailsvalue">{{item.AnnualIncome}}</div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5">
          <div class="personaldetailsheader">Job Location</div>
        </ion-col>
        <ion-col size="1">
          <div class="personaldetailsvalue">:</div>
        </ion-col>
        <ion-col size="6">
          <div class="personaldetailsvalue">{{item.JobLocation}}</div>
        </ion-col>
      </ion-row>
    </ion-card>

    <ion-row>
      <ion-col size="10">
        <div class="headerstyle">Life Style Deatils</div>
      </ion-col>
      <ion-col size="2" style="text-align: center;margin: auto;" (click)="handleopenLifeModal(true)">
        <img src="assets/imgs/edit.png" style="height: 30px;border-radius: 50%;">
      </ion-col>
    </ion-row>
    <ion-card class="personaldetailscard" *ngFor="let item of profiledata">
      <ion-row>
        <ion-col size="5">
          <div class="personaldetailsheader">Diet Preference</div>
        </ion-col>
        <ion-col size="1">
          <div class="personaldetailsvalue">:</div>
        </ion-col>
        <ion-col size="6">
          <div class="personaldetailsvalue">{{item.DietPreference}}</div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5">
          <div class="personaldetailsheader">Do you smoke?</div>
        </ion-col>
        <ion-col size="1">
          <div class="personaldetailsvalue">:</div>
        </ion-col>
        <ion-col size="6">
          <div class="personaldetailsvalue">{{item.Smoking}}</div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5">
          <div class="personaldetailsheader">Do you drink?</div>
        </ion-col>
        <ion-col size="1">
          <div class="personaldetailsvalue">:</div>
        </ion-col>
        <ion-col size="6">
          <div class="personaldetailsvalue">{{item.Drinking}}</div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5">
          <div class="personaldetailsheader">Sports Activities</div>
        </ion-col>
        <ion-col size="1">
          <div class="personaldetailsvalue">:</div>
        </ion-col>
        <ion-col size="6">
          <div class="personaldetailsvalue">{{item.SportsActivities}}</div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5">
          <div class="personaldetailsheader">Hobbies & interests</div>
        </ion-col>
        <ion-col size="1">
          <div class="personaldetailsvalue">:</div>
        </ion-col>
        <ion-col size="6">
          <div class="personaldetailsvalue">{{item.HobbiesAndInterests}}</div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5">
          <div class="personaldetailsheader">Preferred location</div>
        </ion-col>
        <ion-col size="1">
          <div class="personaldetailsvalue">:</div>
        </ion-col>
        <ion-col size="6">
          <div class="personaldetailsvalue">{{item.PreferredMarriageLocation}}</div>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>

  <div *ngIf="selectedOption === 'family'" style="margin-top: 15px;">
    <ion-row>
      <ion-col size="10">
        <div class="headerstyle">Family Details</div>
      </ion-col>
      <ion-col size="2" style="text-align: center;margin: auto;" (click)="handleopenFamilyModal(true)">
        <img src="assets/imgs/edit.png" style="height: 30px;border-radius: 50%;">
      </ion-col>
    </ion-row>
    <ion-card class="personaldetailscard" *ngFor="let item of profiledata">
      <ion-row>
        <ion-col size="5">
          <div class="personaldetailsheader">Father's Occupation</div>
        </ion-col>
        <ion-col size="1">
          <div class="personaldetailsvalue">:</div>
        </ion-col>
        <ion-col size="6">
          <div class="personaldetailsvalue">{{item.FathersOccupation}}</div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5">
          <div class="personaldetailsheader">Mother's Occupation</div>
        </ion-col>
        <ion-col size="1">
          <div class="personaldetailsvalue">:</div>
        </ion-col>
        <ion-col size="6">
          <div class="personaldetailsvalue">{{item.MothersOccupation}}</div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5">
          <div class="personaldetailsheader">Siblings</div>
        </ion-col>
        <ion-col size="1">
          <div class="personaldetailsvalue">:</div>
        </ion-col>
        <ion-col size="6">
          <div class="personaldetailsvalue">{{item.Siblings}}</div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5">
          <div class="personaldetailsheader">Family Type</div>
        </ion-col>
        <ion-col size="1">
          <div class="personaldetailsvalue">:</div>
        </ion-col>
        <ion-col size="6">
          <div class="personaldetailsvalue">{{item.FamilyType}}</div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5">
          <div class="personaldetailsheader">Family Values</div>
        </ion-col>
        <ion-col size="1">
          <div class="personaldetailsvalue">:</div>
        </ion-col>
        <ion-col size="6">
          <div class="personaldetailsvalue">{{item.FamilyValues}}</div>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>

  <div *ngIf="selectedOption === 'preferences'" style="margin-top: 15px;">
    <ion-row>
      <ion-col size="10">
        <div class="headerstyle">Partner Preferences</div>
      </ion-col>
      <ion-col size="2" style="text-align: center;margin: auto;" (click)="handleopenPreferenceModal(true)">
        <img src="assets/imgs/edit.png" style="height: 30px;border-radius: 50%;">
      </ion-col>
    </ion-row>
    <ion-card class="personaldetailscard" *ngFor="let item of profiledata">
      <ion-row>
        <ion-col size="5">
          <div class="personaldetailsheader">Age Range</div>
        </ion-col>
        <ion-col size="1">
          <div class="personaldetailsvalue">:</div>
        </ion-col>
        <ion-col size="6">
          <div class="personaldetailsvalue">{{item.AgeRange}}</div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5">
          <div class="personaldetailsheader">Height Range</div>
        </ion-col>
        <ion-col size="1">
          <div class="personaldetailsvalue">:</div>
        </ion-col>
        <ion-col size="6">
          <div class="personaldetailsvalue">{{item.HeightRange}}</div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5">
          <div class="personaldetailsheader">Preferred Caste/Community</div>
        </ion-col>
        <ion-col size="1">
          <div class="personaldetailsvalue">:</div>
        </ion-col>
        <ion-col size="6">
          <div class="personaldetailsvalue">{{item.PreferredCasteCommunity}}</div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5">
          <div class="personaldetailsheader">Preferred Sub-Caste</div>
        </ion-col>
        <ion-col size="1">
          <div class="personaldetailsvalue">:</div>
        </ion-col>
        <ion-col size="6">
          <div class="personaldetailsvalue">{{item.PreferredSubCaste}}</div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5">
          <div class="personaldetailsheader">Educational Qualifications</div>
        </ion-col>
        <ion-col size="1">
          <div class="personaldetailsvalue">:</div>
        </ion-col>
        <ion-col size="6">
          <div class="personaldetailsvalue">{{item.EducationalQualifications}}</div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5">
          <div class="personaldetailsheader">Occupation</div>
        </ion-col>
        <ion-col size="1">
          <div class="personaldetailsvalue">:</div>
        </ion-col>
        <ion-col size="6">
          <div class="personaldetailsvalue">{{item.OccupationIncomePreferences}}</div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5">
          <div class="personaldetailsheader">Manglik</div>
        </ion-col>
        <ion-col size="1">
          <div class="personaldetailsvalue">:</div>
        </ion-col>
        <ion-col size="6">
          <div class="personaldetailsvalue">{{item.Manglik}}</div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5">
          <div class="personaldetailsheader">Preferred State</div>
        </ion-col>
        <ion-col size="1">
          <div class="personaldetailsvalue">:</div>
        </ion-col>
        <ion-col size="6">
          <div class="personaldetailsvalue">{{item.PartnerStateName}}</div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5">
          <div class="personaldetailsheader">Preferred City</div>
        </ion-col>
        <ion-col size="1">
          <div class="personaldetailsvalue">:</div>
        </ion-col>
        <ion-col size="6">
          <div class="personaldetailsvalue">{{item.PartnerCityName}}</div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5">
          <div class="personaldetailsheader">Other Preferences</div>
        </ion-col>
        <ion-col size="1">
          <div class="personaldetailsvalue">:</div>
        </ion-col>
        <ion-col size="6">
          <div class="personaldetailsvalue">{{item.OtherPreferences}}</div>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>
  <ion-modal [isOpen]="openModalpersonal" class="bottom-sheet" [backdropDismiss]="false">
    <ng-template>
      <ion-header class="modal-header">
        <ion-toolbar color="primary">
          <ion-buttons slot="start">
            <ion-button fill="clear" (click)="handlepersonalmodal(false)">
              <ion-icon name="arrow-back-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
          <ion-title>Edit Personal Details</ion-title>
        </ion-toolbar>
      </ion-header>
  
      <ion-content class="modal-content">
        <ion-list class="custom-list" lines="none">
          
          <ion-item class="custom-item">
            <ion-label position="stacked">First Name*</ion-label>
            <ion-input placeholder="Enter First Name" [(ngModel)]="profiledataedit.FirstName"></ion-input>
          </ion-item>
  
          <ion-item class="custom-item">
            <ion-label position="stacked">Last Name*</ion-label>
            <ion-input placeholder="Enter Last Name" [(ngModel)]="profiledataedit.LastName"></ion-input>
          </ion-item>
  
          <ion-item class="custom-item">
            <ion-label position="stacked">Date of Birth*</ion-label>
            <div class="dob-fields">
              <ion-input placeholder="Day" [(ngModel)]="day" type="number"></ion-input>
              <ion-select [(ngModel)]="month" placeholder="Month">
                <ion-select-option *ngFor="let month of months" [value]="month">{{month}}</ion-select-option>
              </ion-select>
              <ion-input [(ngModel)]="year" placeholder="Year" type="number"></ion-input>
            </div>
          </ion-item>
  
          <ion-item class="custom-item">
            <ion-label position="stacked">Time of Birth</ion-label>
            <div class="dob-fields">
              <ion-input [(ngModel)]="hour"  placeholder="HH" type="number"></ion-input>
              <ion-input [(ngModel)]="minute" placeholder="MM" type="number"></ion-input>
              <ion-select placeholder="AM/PM" [(ngModel)]="amPm">
                <ion-select-option value="AM">AM</ion-select-option>
                <ion-select-option value="PM">PM</ion-select-option>
              </ion-select>
            </div>
          </ion-item>
  
          <ion-item class="custom-item">
            <ion-label position="stacked">Age*</ion-label>
            <ion-input placeholder="Enter Age" [(ngModel)]="profiledataedit.Age" type="number"></ion-input>
          </ion-item>
  
          <ion-item class="custom-item">
            <ion-label position="stacked">Heigh*t</ion-label>
            <ion-input placeholder="Enter Height (in ft)" [(ngModel)]="profiledataedit.Height" type="number"></ion-input>
          </ion-item>
  
          <ion-item class="custom-item">
            <ion-label position="stacked">Weight*</ion-label>
            <ion-input placeholder="Enter Weight (kg)" [(ngModel)]="profiledataedit.Weight" type="number"></ion-input>
          </ion-item>
  
          <ion-item class="custom-item">
            <ion-label position="stacked">Blood Group*</ion-label>
            <ion-input placeholder="Enter Blood Group" [(ngModel)]="profiledataedit.BloodGroup"></ion-input>
          </ion-item>
  
          <ion-item class="custom-item">
            <ion-label position="stacked">Gotra*</ion-label>
            <ion-input placeholder="Enter Gotra" [(ngModel)]="profiledataedit.Gotra"></ion-input>
          </ion-item>
  

          <ion-item lines="none" class="custom-item">
            <ion-label position="stacked">
              Martial Status 
            </ion-label>
            <ion-select
              [(ngModel)]="profiledataedit.MaritalStatus"
              aria-label="Caste"
              placeholder="Select"
              class="custom"
              style="color: black"
            >
              <ion-select-option *ngFor="let c of martialOptions" [value]="c.value" style="--background: #ca2323;">
                {{ c.label }}
              </ion-select-option>
            </ion-select>
          </ion-item>



          <ion-item lines="none" class="custom-item">
            <ion-label position="stacked">
              Cast/Community*
            </ion-label>
            <ion-select
              [(ngModel)]="this.castvalue"
              aria-label="Caste"
              placeholder="Select"
              class="custom"
              style="color: black"
              (ionChange)="castchange($event,'castuser')"
            >
              <ion-select-option *ngFor="let c of casteOptions"  [value]="c.casteId" style="--background: #ca2323;">
                {{ c.casteName }}
              </ion-select-option>
            </ion-select>
          </ion-item>

        <ion-item lines="none" class="custom-item">
            <ion-label position="stacked">
              Select SubCast*
            </ion-label>
            <ion-select
              [(ngModel)]="this.subcast"
              aria-label="Caste"
              placeholder="Select"
              class="custom"
              style="color: black"
              
            >
              <ion-select-option *ngFor="let c of subcasteOptions" [value]="c.subCasteId" style="--background: #ca2323;">
                {{ c.subCasteName }}
              </ion-select-option>
            </ion-select>
          </ion-item>
          
          <ion-item lines="none" class="custom-item">
            <ion-label position="stacked">
             Gender*
            </ion-label>
            <ion-select
              [(ngModel)]="profiledataedit.Gender"
              aria-label="Caste"
              placeholder="Select"
              class="custom"
              style="color: black"
            >
              <ion-select-option *ngFor="let c of genderOptions" [value]="c.GenderType" style="--background: #ca2323;">
                {{ c.GenderType}}
              </ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item class="custom-item">
            <ion-label position="stacked">Rashi*</ion-label>
            <ion-input placeholder="Enter Rashi" [(ngModel)]="profiledataedit.Rashi"></ion-input>
          </ion-item>

          <ion-item class="custom-item">
            <ion-label position="stacked">Place of Birth*</ion-label>
            <ion-input placeholder="Enter Rashi" [(ngModel)]="profiledataedit.PlaceOfBirth"></ion-input>
          </ion-item>

          <ion-item class="custom-item">
            <ion-label position="stacked">Birth Star(Nakshatra)*</ion-label>
            <ion-input placeholder="Enter Rashi" [(ngModel)]="profiledataedit.BirthStar"></ion-input>
          </ion-item>

          <ion-item lines="none" class="custom-item">
            <ion-label position="stacked">
              Manglik(Kuja Dosha) Status (Yes/No)
            </ion-label>
            <ion-select
              [(ngModel)]="profiledataedit.ManglikStatus"
              aria-label="Caste"
              placeholder="Select"
              class="custom"
              style="color: black"
            >
              <ion-select-option *ngFor="let c of mangalikaoptions" [value]="c.StatusID" style="--background: #ca2323;">
                {{ c.StatusType}}
              </ion-select-option>
            </ion-select>
          </ion-item>

        </ion-list>
      </ion-content>
  
      <ion-footer class="modal-footer">
        <ion-button expand="block" color="primary" (click)="updateProfiledata(1)">Save</ion-button>
      </ion-footer>
    </ng-template>
  </ion-modal>
  <ion-modal [isOpen]="openContactModal" class="bottom-sheet" [backdropDismiss]="false">
    <ng-template>
      <ion-header class="modal-header">
        <ion-toolbar color="primary">
          <ion-buttons slot="start">
            <ion-button fill="clear" (click)="handleContactModal(false)">
              <ion-icon name="arrow-back-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
          <ion-title>Edit Contact Info</ion-title>
        </ion-toolbar>
      </ion-header>
  
      <ion-content class="modal-content">
        <ion-list class="custom-list" lines="none">
  
          <ion-item class="custom-item">
            <ion-label position="stacked">Mobile Number*</ion-label>
            <ion-input type="tel" placeholder="Enter Mobile Number" [(ngModel)]="profiledataedit.MobileNo"></ion-input>
          </ion-item>
  

          <ion-item class="custom-item">
            <ion-label position="stacked">Email*</ion-label>
            <ion-input type="email" placeholder="Enter Email" [(ngModel)]="profiledataedit.EmailID"></ion-input>
          </ion-item>
  
          <ion-item class="custom-item">
            <ion-label position="stacked">Address*</ion-label>
            <ion-textarea placeholder="Enter Address" [(ngModel)]="profiledataedit.Address"></ion-textarea>
          </ion-item>
  

          <ion-item lines="none" class="custom-item">
            <ion-label position="stacked">
              Select State*
            </ion-label>
            <ion-select
              [(ngModel)]="profiledataedit.StateID"
              aria-label="Caste"
              placeholder="Select"
              class="custom"
              style="color: black"
              (ionChange)="onStateChange($event.detail.value)"
            >
              <ion-select-option *ngFor="let c of stateOptions" [value]="c.Id" style="--background: #ca2323;">
                {{ c.Name }}
              </ion-select-option>
            </ion-select>
          </ion-item>

          <!--  -->
         
          <ion-item lines="none" class="custom-item">
            <ion-label position="stacked">
              Select City*
            </ion-label>
            <ion-select
              [(ngModel)]="profiledataedit.CityID"
              aria-label="Caste"
              placeholder="Select"
              class="custom"
              style="color: black"
           
            >
              <ion-select-option *ngFor="let c of districtOptions" [value]="c.Id" style="--background: #ca2323;">
                {{ c.Name }}
              </ion-select-option>
            </ion-select>
          </ion-item>
      
  
          <ion-item class="custom-item">
            <ion-label position="stacked">Pin Code</ion-label>
            <ion-input type="number" placeholder="Enter Pin Code" [(ngModel)]="profiledataedit.Pincode"></ion-input>
          </ion-item>
  
        </ion-list>
      </ion-content>
  
      <ion-footer class="modal-footer">
        <ion-button expand="block" color="primary" (click)="updateProfiledata(2)">Save</ion-button>
      </ion-footer>
    </ng-template>
  </ion-modal>
  
  <ion-modal [isOpen]="openEducationModal" class="bottom-sheet" [backdropDismiss]="false">
    <ng-template>
      <ion-header>
        <ion-toolbar color="primary">
          <ion-buttons slot="start">
            <ion-button (click)="handleopenEducationModal(false)">
              <ion-icon name="arrow-back-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
          <ion-title>Educational Details</ion-title>
        </ion-toolbar>
      </ion-header>
  
      <ion-content>
        <ion-list class="custom-list" lines="none">
  
          <ion-item class="custom-item">
            <ion-label position="stacked">Highest Education Qualification*</ion-label>
            <ion-input [(ngModel)]="profiledataedit.HighestQualification"></ion-input>
          </ion-item>
  
          <ion-item class="custom-item">
            <ion-label position="stacked">Institution</ion-label>
            <ion-input [(ngModel)]="profiledataedit.InstituteOrUniversity"></ion-input>
          </ion-item>
  
          <ion-item class="custom-item">
            <ion-label position="stacked">Languages</ion-label>
            <ion-input type="text" [(ngModel)]="profiledataedit.LanguagesKnown"></ion-input>
          </ion-item>
  
          <ion-item class="custom-item">
            <ion-label position="stacked">Year of Graduation*</ion-label>
            <ion-input [(ngModel)]="profiledataedit.YearOfGraduation"></ion-input>
          </ion-item>

          <ion-item class="custom-item">
            <ion-label position="stacked">Additional Qualifications</ion-label>
            <ion-input [(ngModel)]="profiledataedit.AdditionalQualifications"></ion-input>
          </ion-item>
  
        </ion-list>
      </ion-content>
  
      <ion-footer class="modal-footer">
        <ion-button expand="block" (click)="updateProfiledata(3)">Save</ion-button>
      </ion-footer>
    </ng-template>
  </ion-modal>

  <ion-modal [isOpen]="openProfessionalModal" class="bottom-sheet" [backdropDismiss]="false">
    <ng-template>
      <ion-header>
        <ion-toolbar color="primary">
          <ion-buttons slot="start">
            <ion-button (click)="handleopenProfessionalModal(false)">
              <ion-icon name="arrow-back-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
          <ion-title>Professional Details</ion-title>
        </ion-toolbar>
      </ion-header>
  
      <ion-content>
        <ion-list class="custom-list" lines="none">
  
          <ion-item class="custom-item">
            <ion-label position="stacked">Occupation*</ion-label>
            <ion-input [(ngModel)]="profiledataedit.Occupation"></ion-input>
          </ion-item>
  
          <ion-item class="custom-item">
            <ion-label position="stacked">Company</ion-label>
            <ion-input [(ngModel)]="profiledataedit.Company"></ion-input>
          </ion-item>
  
          <ion-item class="custom-item">
            <ion-label position="stacked">Annual Income</ion-label>
            <ion-input type="number" [(ngModel)]="profiledataedit.AnnualIncome"></ion-input>
          </ion-item>
  
          <ion-item class="custom-item">
            <ion-label position="stacked">Job Location</ion-label>
            <ion-input [(ngModel)]="profiledataedit.JobLocation"></ion-input>
          </ion-item>
  
          <ion-item class="custom-item">
            <ion-label position="stacked">Work Experience (years)</ion-label>
            <ion-input type="number" [(ngModel)]="profiledataedit.WorkExperience"></ion-input>
          </ion-item>
  
          <ion-item class="custom-item">
            <ion-label position="stacked">Highest Qualification</ion-label>
            <ion-input [(ngModel)]="profiledataedit.HighestQualification"></ion-input>
          </ion-item>
  
          <ion-item class="custom-item">
            <ion-label position="stacked">Institute/University</ion-label>
            <ion-input [(ngModel)]="profiledataedit.InstituteOrUniversity"></ion-input>
          </ion-item>
  
          <ion-item class="custom-item">
            <ion-label position="stacked">Year of Graduation</ion-label>
            <ion-input type="number" [(ngModel)]="profiledataedit.YearOfGraduation"></ion-input>
          </ion-item>
  
          <ion-item class="custom-item">
            <ion-label position="stacked">Additional Qualifications</ion-label>
            <ion-input [(ngModel)]="profiledataedit.AdditionalQualifications"></ion-input>
          </ion-item>
  
        </ion-list>
      </ion-content>
  
      <ion-footer class="modal-footer">
        <ion-button expand="block" (click)="updateProfiledata(4)">Save</ion-button>
      </ion-footer>
    </ng-template>
  </ion-modal>
  
  <ion-modal [isOpen]="openLifeModal" class="bottom-sheet" [backdropDismiss]="false">
    <ng-template>
      <ion-header>
        <ion-toolbar color="primary">
          <ion-buttons slot="start">
            <ion-button (click)="handleopenLifeModal(false)">
              <ion-icon name="arrow-back-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
          <ion-title>Life Style Details</ion-title>
        </ion-toolbar>
      </ion-header>
  
      <ion-content>
        <ion-list class="custom-list" lines="none">
  
          <ion-item class="custom-item">
            <ion-label position="stacked">Diet Preference</ion-label>
            <ion-input [(ngModel)]="profiledataedit.DietPreference"></ion-input>
          </ion-item>
  
          <ion-item lines="none" class="custom-item">
            <ion-label position="stacked">
            Do you Smoking ?
            </ion-label>
            <ion-select
              [(ngModel)]="profiledataedit.Smoking"
              aria-label="Caste"
              placeholder="Select"
              class="custom"
              style="color: black"
            >
              <ion-select-option *ngFor="let c of smoking" [value]="c.StatusID" style="--background: #ca2323;">
                {{ c.StatusType}}
              </ion-select-option>
            </ion-select>
          </ion-item>
  
          <ion-item lines="none" class="custom-item">
            <ion-label position="stacked">
            Do you Drinking ?
            </ion-label>
            <ion-select
              [(ngModel)]="profiledataedit.Drinking"
              aria-label="Caste"
              placeholder="Select"
              class="custom"
              style="color: black"
            >
              <ion-select-option *ngFor="let c of drinking" [value]="c.StatusID" style="--background: #ca2323;">
                {{ c.StatusType}}
              </ion-select-option>
            </ion-select>
          </ion-item>
  
          <ion-item class="custom-item">
            <ion-label position="stacked">Sports Activities</ion-label>
            <ion-input [(ngModel)]="profiledataedit.SportsActivities"></ion-input>
          </ion-item>
  
          
  
          <ion-item class="custom-item">
            <ion-label position="stacked">Hobbies & interests</ion-label>
            <ion-input [(ngModel)]="profiledataedit.HobbiesAndInterests"></ion-input>
          </ion-item>
          <ion-item class="custom-item">
            <ion-label position="stacked">Preferred Location</ion-label>
            <ion-input [(ngModel)]="profiledataedit.PreferredMarriageLocation"></ion-input>
          </ion-item>
        </ion-list>
      </ion-content>
  
      <ion-footer class="modal-footer">
        <ion-button expand="block" (click)="updateProfiledata(5)">Save</ion-button>
      </ion-footer>
    </ng-template>
  </ion-modal>


  <ion-modal [isOpen]="openFamilyModal" class="bottom-sheet" [backdropDismiss]="false">
    <ng-template>
      <ion-header>
        <ion-toolbar color="primary">
          <ion-buttons slot="start">
            <ion-button (click)="handleopenFamilyModal(false)">
              <ion-icon name="arrow-back-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
          <ion-title>Family Details</ion-title>
        </ion-toolbar>
      </ion-header>
  
      <ion-content>
        <ion-list class="custom-list" lines="none">
  
          <ion-item class="custom-item">
            <ion-label position="stacked">Fathers Occupation</ion-label>
            <ion-input [(ngModel)]="profiledataedit.FathersOccupation"></ion-input>
          </ion-item>
  
          <ion-item class="custom-item">
            <ion-label position="stacked">Mothers Occupation</ion-label>
            <ion-input [(ngModel)]="profiledataedit.MothersOccupation"></ion-input>
          </ion-item>
          <ion-item class="custom-item">
            <ion-label position="stacked">Siblings</ion-label>
            <ion-input [(ngModel)]="profiledataedit.Siblings"></ion-input>
          </ion-item>
  
          <!-- <ion-item class="custom-item">
            <ion-label position="stacked">Family Type</ion-label>
            <ion-input type="number" [(ngModel)]="profiledataedit.FamilyType"></ion-input>
          </ion-item> -->


          <ion-item lines="none" class="custom-item">
            <ion-label position="stacked">
              Family Type
            </ion-label>
            <ion-select
              [(ngModel)]="profiledataedit.FamilyType"
              aria-label="Caste"
              placeholder="Select"
              class="custom"
              style="color: black"
            >
              <ion-select-option *ngFor="let c of familyTypeOption" [value]="c.familyType" style="--background: #ca2323;">
                {{ c.familyType}}
              </ion-select-option>
            </ion-select>
          </ion-item>
  
          <!-- <ion-item class="custom-item">
            <ion-label position="stacked">Famaly Values</ion-label>
            <ion-input [(ngModel)]="profiledataedit.FamilyValues"></ion-input>
          </ion-item> -->
          <ion-item lines="none" class="custom-item">
            <ion-label position="stacked">
              Family Values
            </ion-label>
            <ion-select
              [(ngModel)]="profiledataedit.FamilyValues"
              aria-label="Caste"
              placeholder="Select"
              class="custom"
              style="color: black"
            >
              <ion-select-option *ngFor="let c of familyValuesOption" [value]="c.familyType" style="--background: #ca2323;">
                {{ c.familyType}}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
      </ion-content>
  
      <ion-footer class="modal-footer">
        <ion-button expand="block" (click)="updateProfiledata(6)">Save</ion-button>
      </ion-footer>
    </ng-template>
  </ion-modal>

  <ion-modal [isOpen]="openPreferenceModal" class="bottom-sheet" [backdropDismiss]="false">
    <ng-template>
      <ion-header>
        <ion-toolbar color="primary">
          <ion-buttons slot="start">
            <ion-button (click)="handleopenPreferenceModal(false)">
              <ion-icon name="arrow-back-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
          <ion-title>Partner Preferences</ion-title>
        </ion-toolbar>
      </ion-header>
  
      <ion-content>
        <ion-list class="custom-list" lines="none">
  
          <ion-item class="custom-item">
            <ion-label position="stacked">Age range*</ion-label>
            <ion-input [(ngModel)]="profiledataedit.AgeRange"></ion-input>
           </ion-item>
  

           <ion-item class="custom-item">
            <ion-label position="stacked">Preferred Height Range*</ion-label>
            <ion-input [(ngModel)]="profiledataedit.HeightRange"></ion-input>
           </ion-item>
         
          <ion-item class="custom-item">
            <ion-select [(ngModel)]="profiledataedit.PreferredCasteCommunityId" placeholder="Preferred CasteCommunity*" (ionChange)="castchange($event,'castpref')">
              <ion-select-option *ngFor="let c of casteOptions"[value]="c.casteId">{{c.casteName}}</ion-select-option>
            </ion-select>
          </ion-item>
  
          <ion-item class="custom-item">
            <ion-select [(ngModel)]="profiledataedit.PreferredSubCasteId" placeholder="Preferred SubCaste">
              <ion-select-option *ngFor="let c of subcasteprefOptions" [value]="c.subCasteId">  {{ c.subCasteName }}</ion-select-option>
            </ion-select>
          </ion-item>
  

          <ion-item class="custom-item">
            <ion-label position="stacked"> Eductaion Qualifications*</ion-label>
            <ion-input [(ngModel)]="profiledataedit.EducationalQualifications"></ion-input>
          </ion-item>
          <ion-item class="custom-item">
            <ion-label position="stacked"> Income Occupation*</ion-label>
            <ion-input [(ngModel)]="profiledataedit.OccupationIncomePreferences"></ion-input>
          </ion-item>
  
          <ion-item class="custom-item">
            <ion-label position="stacked">Preferred Manglik</ion-label>
            <ion-input [(ngModel)]="profiledataedit.Manglik"></ion-input>
          </ion-item>

          <ion-item class="custom-item">
            <ion-select [(ngModel)]="profiledataedit.PreferredStateID" placeholder="Prefered State*" (ionChange)="onstatepref($event.detail.value)" >
              <ion-select-option *ngFor="let c of stateOptions"[value]="c.Id">{{ c.Name }}</ion-select-option>
            </ion-select>
          </ion-item>


          <ion-item class="custom-item">
            <ion-select [(ngModel)]="profiledataedit.PreferredCity" placeholder="Prefered City*">
              <ion-select-option *ngFor="let c of prefcityOptions" [value]="c.Id" >{{ c.Name }}</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item class="custom-item">
            <ion-label position="stacked">Other Preferences</ion-label>
            <ion-input [(ngModel)]="profiledataedit.OtherPreferences"></ion-input>
          </ion-item>
        </ion-list>
      </ion-content>
  
      <ion-footer class="modal-footer">
        <ion-button expand="block" (click)="updateProfiledata(7)">Save</ion-button>
      </ion-footer>
    </ng-template>
  </ion-modal>
</ion-content>
