<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="home">
      <ion-icon name="home-outline" style="font-size: 30px;"></ion-icon>
      <ion-label>Home</ion-label> 
    </ion-tab-button>
    
    <ion-tab-button tab="profile">
      <ion-icon name="person-circle-outline" style="font-size: 30px;"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="subscription">
      <ion-icon name="calendar-outline" style="font-size: 30px;"></ion-icon>
      <ion-label>Subscription</ion-label>
    </ion-tab-button>

 

  </ion-tab-bar>
</ion-tabs>
