<ion-header>
  <ion-toolbar color="primary">
    <ion-row>
      <ion-col size="2" style="text-align: left;" (click)="backoption()">
        <ion-icon name="arrow-back" style="font-size: 30px;padding-left: 10px;"></ion-icon>
      </ion-col>
      <ion-col size="10">
        <ion-title style="padding-top: 6px;">About Us</ion-title>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none" style="padding: 15px;">
    <p class="paragraphstyle">We are a trusted matrimonial platform committed to helping individuals find their perfect match. With a user-friendly interface and a secure environment, we aim to provide a personalized experience for every member. Our goal is to bring people together based on shared values, cultural background, and life goals.</p>
  </ion-list>
</ion-content>
