<ion-content class="login-background">
  <div class="login-card">
    <h2 class="login-title" *ngIf="mobile != null && email != null">Set Password</h2>
    <h2 class="login-title" *ngIf="mobile == null && email != null">Reset Password</h2>

    <ion-item lines="none">
      <ion-label position="stacked">Password</ion-label>
      <ion-input (ionInput)="checkPasswordStrength($event)" aria-label="Custom input"  [(ngModel)]="password" [type]="showPassword ? 'text' : 'password'" placeholder="Password"  class="custom" >
        <ion-icon slot="end" name="eye" (click)="togglePasswordVisibility()" class="eye-icon"></ion-icon>
      </ion-input>
     </ion-item>
      <ion-item lines="none">
        <ion-label position="stacked">Confirm Password</ion-label>
        <ion-input aria-label="Custom input"  [(ngModel)]="cpassword" [type]="cshowPassword ? 'text' : 'password'" placeholder="Confirm Password"  class="custom" >
          <ion-icon slot="end" name="eye" (click)="togglePasswordVisibilityC()" class="eye-icon"></ion-icon>
        </ion-input>
         </ion-item>


         <div class="strength-meter" *ngIf="passbarhide == true  && password.length > 0 ">
          <div class="strength-bar" [ngStyle]="{ 'background-color': strengthColor, 'width': strengthPercent + '%' }"></div>
        </div>
        <div *ngIf="passbarhide == true  && password.length > 0 "class="strength-label">{{ strengthLabel }}</div>
        <div *ngIf="passbarhide == true  && password.length > 0 ">
          <div class="strength-barText" [ngStyle]="{ 'color': hasMinLength ? 'green' : 'red' }">At least 8 characters.</div>
          <div class="strength-barText" [ngStyle]="{ 'color': hasUpperCase ? 'green' : 'red' }">1 uppercase letter.</div>
          <div class="strength-barText" [ngStyle]="{ 'color': hasNumber ? 'green' : 'red' }">1 number.</div>
          <div class="strength-barText" [ngStyle]="{ 'color': hasSpecialChar ? 'green' : 'red' }">1 special character.</div>
  
        </div>
        
        
    <ion-button expand="block" class="login-button" (click)="onLogin()">Submit</ion-button>

     
    <div class="signup-text">
      Remember your password? <span  class="secondarycolor" (click)="gotologin()">Back to Login</span> 
    </div>
  </div>
</ion-content>
