<ion-header>
  <ion-toolbar color="primary">
    <ion-row>
      <ion-col size="2" style="text-align: left;" (click)="backoption()">
        <ion-icon name="arrow-back" style="font-size: 30px;padding-left: 10px;"></ion-icon>
      </ion-col>
      <ion-col size="10">
        <ion-title style="padding-top: 6px;">Privacy Policy</ion-title>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none" style="padding: 15px;">
    <h4>Your privacy is important to us. Below are the key policies we follow to protect your data.</h4>
    <p class="paragraphstyle">1. We collect user data only for account creation and matchmaking purposes.</p>
    <p class="paragraphstyle">2. All personal details shared are kept confidential and not sold to third parties.</p>
    <p class="paragraphstyle">3. Users have control over the information they share on their profile.</p>
    <p class="paragraphstyle">4. We use encryption and secure protocols to protect user data.</p>
    <p class="paragraphstyle">5. Cookies are used to improve user experience and website performance.</p>
    <p class="paragraphstyle">6. Users can request account deletion at any time, and their data will be permanently removed.</p>
    <p class="paragraphstyle">7. Payment information is securely processed and not stored by us.</p>
    <p class="paragraphstyle">8. We do not share user details with other members without consent.</p>
    <p class="paragraphstyle">9. Fraudulent accounts will be terminated immediately.</p>
    <p class="paragraphstyle">10. Our privacy policy may be updated, and users will be notified of any significant changes.</p>
  </ion-list>
</ion-content>
