





ion-item {
  --background: transparent;
  --color: #c24242;
  --placeholder-color: #ccc;
  color: #fff;

   ion-input {
    color: #0a0a0a;
  }

  .eye-icon {
    color: #000000;
    cursor: pointer;
  }
}

.login-links{
  font-size: 15px;
  text-align: left;

  color: black;
}
.signup-text {
  font-size: 16px;
  margin-top: 12px;
  text-align: right;
  padding-right: 16px;
  color: black;
  margin-left: 16px;
  line-height: 16px;
  padding-bottom: 10px;
}
ion-label{
  color: black;
  margin-left: 5px;
  margin-top: 15px;
  font-weight: 600;
  font-size: 18px;
}
    
      ion-input.custom,ion-select.custom {
        --color: #020202;
        --border-radius: 10px;
        --padding-bottom: 10px;
        --padding-end: 10px;
        --padding-start: 10px;
        --padding-top: 10px;
        --border-width: 2px;
        --border-style: solid;
      }
      ion-select.custom .select-option {
        --background: #ca2323; 
      }
      ion-button.login-button {
        height: 45px;
        font-size: 16px;
        margin-left: 15px;
        margin-right: 15px;
      }

      .login-content {
        --background: #e940570f; // light pink background
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .secondarycolor {
        color: var(--ion-color-primary);
        text-decoration: none;
        font-size: 15px;
      }
      .top-curve {
        background-color: #f78da7;
          height: 149px;
          width: 100%;
          border-bottom-left-radius: 100% 150%;
          border-bottom-right-radius: 100% 204%;
      }
      .logo-container {
        text-align: center;
      
        .logo {
          width: 150px;
          height: 150px;
          border-radius: 50%;
          background: white;
          padding: 10px;
          margin-top: -95px;
        }
      
        .app-name {
          font-size: 21px;
          color: #d6336c; // pinkish color
          margin-top: 5px;
        }
      
        .login-heading {
          font-weight: bold;
          margin-top: 5px;
          font-size: 23px;
        }
      }
      .custom-border {
        border: 1px solid black;
        border-radius: 8px;
        margin-top: 11px;
        height: 45px;
        position: relative;
        display: flex;
        align-items: center; /* centers the text inside */
      }
      ion-radio {
        --color: #000;
      }
      ::ng-deep ion-select-option {
        color: black !important;
      
      }
      
      ::ng-deep .alert-radio-label.sc-ion-alert-md {
        color: rgb(2, 2, 2) !important;
      
      }
      ion-checkbox {
        --border-color: #000;
      }
      ::ng-deep .alert-radio-inner.sc-ion-alert-md {
        border-color: black !important;
      }
      
      ::ng-deep .alert-radio-icon.sc-ion-alert-md {
        color: black !important;
      }
  