.login-background {
    --background: url('/assets/loginimage.png') no-repeat center center / cover;
  
    .login-card {
      background: rgba(0, 0, 0, 0.8);
      padding: 5px;
      margin:38px 14px;
      border-radius: 16px;
      color: #fff;
      text-align: center;
  
      ion-item {
        --background: transparent;
        --color: #fff;
        --placeholder-color: #ccc;
        color: #fff;
        margin-top: -8px;
  
        ion-label {
          color: #fff;
          margin-left: 5px;
          margin-bottom: 4px;
          font-weight: 600;
        }
  
        ion-input {
          color: #0a0a0a;
        }
  
        .eye-icon {
          color: #000000;
          cursor: pointer;
        }
      }
  
      .login-title {
        font-size: 28px;
        margin-bottom: 8px;
        font-weight: bold;
        color: var(--ion-color-secondary);
      }
  
      .login-subtitle {
        font-size: 17px;
        margin-bottom: 20px;
        color: #fff;
      }
  
      .login-button {
        --background: var(--ion-color-secondary);
        --border-radius: 10px;
        margin-top: 12px;
        margin-left: 12px;
        padding-right: 12px;
      
      }
    .signup-text {
        font-size: 14px;
        margin-top: 12px;
        text-align: center;
        padding-right: 16px;
        color: var(--ion-color-white);
        margin-left: 16px;
        line-height: 16px;
        padding-bottom: 10px;
      }
  
      .login-links{
        font-size: 18px;
        margin-top: 12px;
        text-align: left;
        padding-right: 16px;
        color: var(--ion-color-secondary);
    }
    .terms-link {
        color: var(--ion-color-secondary);
        text-decoration: underline;
      }
      .secondarycolor {
        color: var(--ion-color-secondary);
        text-decoration: none;
        font-size: 17px;
      }
    }
      ion-input.custom,ion-select.custom {
        --background: #ffff;
        --color: #020202;
        --placeholder-color: #000000;
        --placeholder-opacity: 0.8;
        --border-radius: 10px;
         --padding-bottom: 10px;
        --padding-end: 10px;
        --padding-start: 10px;
        --padding-top: 10px;
        margin-top: 22px;
        border-radius: 5px;

      }
      ion-select.custom .select-option {
        --background: #ca2323; /* Set background color for options */
      }
  }
  