
  <ion-header>
    <ion-toolbar>
      <ion-row>
        <ion-col size="2" style="margin: auto;">
          <ion-buttons left>
            <ion-menu-button menu="main-menu">
              <ion-img src="assets/imgs/toggle.png" style="height: auto; width: 55px;" />
            </ion-menu-button>
          </ion-buttons>
        </ion-col>
        <ion-col size="8" style="margin: auto;">
          <div style="color: #E94057;font-size: 20px;">Aishwarya Matrimonial</div>
        </ion-col>
        <ion-col size="2" style="margin: auto;">
         
            <ion-icon  (click)="togotnotifications()"   style="display: flex;font-size: 30px;color: #E94057;" name="notifications-outline"></ion-icon>
      
        </ion-col>
      
      </ion-row>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <div class="header-banner">
      <ion-row>
      <ion-col size="12">
        <swiper-container *ngIf="bannerlist.length > 0" [loop]="true" autoplay-delay="2000">
          <swiper-slide *ngFor="let slide of bannerlist">
            <!-- <div>
              <img [src]="slide" alt="Wedding Banner" style="width: 100%; height: 250px; border-radius: 10px;" />
              <div>Trusted Matrimony & <br/> Matchmaking Service</div>
            </div> -->
            <div style="position: relative; width: 100%; height: 250px;">
              <img [src]="slide" alt="Wedding Banner" style="width: 100%; height: 100%; border-radius: 10px; object-fit: cover;" />
              <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); 
                          color: white; font-size: 18px; text-align: center; font-weight: bold; text-shadow: 1px 1px 4px rgba(0,0,0,0.6);">
                Trusted Matrimony & <br/><span style="color: var(--ion-color-secondary);"> Matchmaking Service</span>
              </div>
            </div>
          </swiper-slide>
        </swiper-container>
      </ion-col>
    </ion-row>
    </div>

    

  
    <div class="filter-container">
      <ion-button fill="outline" size="small" color="primary" (click)="handleModel()">
        <ion-icon name="funnel-outline"></ion-icon>
        Filter
      </ion-button>
    </div>

    <ion-row>
      <ion-col size="4">
        <ion-button fill="outline" shape="round"   [ngClass]="{ 'active-btn': activeButton === '1' }"  (click)="togglebutton('1')" class="transparent-btn">Search</ion-button>
      </ion-col>
      <ion-col size="4">
        <ion-button  fill="outline" shape="round"   [ngClass]="{ 'active-btn': activeButton === '2' }" (click)="togglebutton('2')" class="transparent-btn">Requests</ion-button>
      </ion-col>
      <ion-col size="4">
        <ion-button  fill="outline" shape="round"   [ngClass]="{ 'active-btn': activeButton === '3' }" (click)="togglebutton('3')" class="transparent-btn">Visitors</ion-button>
      </ion-col>
    </ion-row>
  

    <ion-card class="profile-cardssssss" *ngIf="Searcheddata == true">
      <div class="horizontal-scroll-wrapper">
        <div class="scroll-container">
          <div class="interested-card" *ngFor="let profile of profiles">
            <img [src]="profile.Profile_Image" alt="Profile Image" class="background-image" (click)="togodetailspagewithactions(profile)" />
    
            <div class="overlay-content" (click)="togodetailspage(profile)">
              <p class="nameoftheuser">
                {{ profile.FirstName }} {{ profile.LastName }}, {{ profile.Age }} Years
              </p>
              <div class="meta">{{ profile.Gender }} • {{ profile.City }}</div>
              <div class="profession">Register No: {{ profile.RegisterNo }}</div>
              <div class="profession">Caste/Community: {{ profile.CasteOrCommunity }}</div>


              <div class="horizontal-actions">
                <div   style="border-radius: 5px" *ngIf="profile.IsActive == 0" (click)="SendcancelInterestedRequest(profile,'1')">
                      <ion-label  style="font-size: 18px;color:var(--ion-color-secondary) ;"> Send Interest</ion-label>
                </div>
  
                <div   style="border-radius: 5px" *ngIf="profile.IsActive == 1" (click)="SendcancelInterestedRequest(profile,'0')">
                  <ion-label style="font-size: 18px;color:red ;">Cancel Interest</ion-label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
     
    </ion-card>
    <div  *ngIf="this.nodatafound == true && Searcheddata == true">
      <div style="text-align: center;
        margin-top: 50px;">No searched profiles found</div>
    </div>

  
    <ion-card class="profile-cardssssss" *ngIf="initalload == true">
      <div class="horizontal-scroll-wrapper">
        <div class="scroll-container">
          <div class="interested-card" *ngFor="let viwers of getloadprofiles">
            <div  (click)="togodetailspagewithactions(viwers)">
            <img [src]="viwers.Profile_Image" alt="Profile" class="background-image" />
            
            <div class="overlay-Viewbtn">
              <ion-icon  *ngIf="viwers.ViewedProfileStatus == 1" style="font-size: 30px;font-weight: 600;color:  var(--ion-color-primary);" name="eye-outline"></ion-icon>
              <ion-icon  *ngIf="viwers.ViewedProfileStatus != 1" style="font-size: 30px;font-weight: 600;color:  var(--ion-color-primary);" name="eye-off-outline"></ion-icon>
            </div>
          </div>
          <div>
            <div class="overlay-content">
              <p class="nameoftheuser" (click)="togodetailspagewithactions(viwers)">
                {{ viwers.FirstName }}, {{ viwers.LastName }} ,{{ viwers.Age }} Years
                <ion-icon name="checkmark-circle" class="verified-icon"></ion-icon>
              </p>
              <div (click)="togodetailspagewithactions(viwers)" class="meta">{{ viwers.Religion }} • {{ viwers.CasteOrCommunity }}</div>
              <div (click)="togodetailspagewithactions(viwers)" class="profession">{{ viwers.Occupation }}</div>

              <!-- <div (click)="togodetailspagewithactions(viwers)" class="profession">Interest Received : {{ viwers.CreatedDate | date : "dd.MM.y" }}</div> -->
              <!-- <div class="horizontal-actions"  style=" border: 1px solid var(--ion-color-secondary);border-radius: 5px" *ngIf="viwers.IsInterestSent == 1" >
                <ion-label class="action-labelrejected" style="font-size: 18px;margin-bottom: 2px;color:var(--ion-color-primary);">Interest Sent</ion-label>
              </div> -->
               <div class="horizontal-actions">
                  <div   style="border-radius: 5px" *ngIf="viwers.IsActive == 0" (click)="SendcancelInterestedRequest(viwers,'1')">
                        <ion-label  style="font-size: 18px;color:var(--ion-color-secondary) ;"> Send Interest</ion-label>
                  </div>

                  <div   style="border-radius: 5px" *ngIf="viwers.IsActive == 1" (click)="SendcancelInterestedRequest(viwers,'0')">
                    <ion-label style="font-size: 18px;color:red ;">Cancel Interest</ion-label>
              </div>
              </div>
              
            </div>
          </div>
          </div>
        </div>
      </div>
      
    </ion-card>
    <div  *ngIf="this.nodatafound == true && initalload == true">
      <div style="text-align: center;
        margin-top: 50px;">No matching profiles found</div>
    </div>
    
    <ion-card class="profile-cardssssss" *ngIf="requesteddata == true">
      <div class="horizontal-scroll-wrapper">
        <div class="scroll-container">
          <div class="interested-card" *ngFor="let interested of interestedProfile">
            <div (click)="togodetailspage(interested)">
            <img [src]="interested.Profile_Image" alt="Profile" class="background-image" />
    
            <div class="overlay-Viewbtn" > 
              <ion-icon *ngIf="interested.ViewedProfileStatus == 1" style="font-size: 30px; font-weight: 600; color: var(--ion-color-primary);" name="eye-outline"></ion-icon>
              <ion-icon *ngIf="interested.ViewedProfileStatus != 1" style="font-size: 30px; font-weight: 600; color: var(--ion-color-primary);" name="eye-off-outline"></ion-icon>
            </div>
          </div>
        <div>
            <div class="overlay-content" >
              <p class="nameoftheuser"  (click)="togodetailspage(interested)">
                {{ interested.FirstName }}, {{ interested.LastName }} ,{{ interested.Age }} Years
                <ion-icon name="checkmark-circle" class="verified-icon"></ion-icon>
              </p>
              <div  (click)="togodetailspage(interested)" class="meta">{{ interested.Religion }} • {{ interested.CasteOrCommunity }}</div>
              <div  (click)="togodetailspage(interested)" class="profession">{{ interested.Occupation }}</div>
              <div  (click)="togodetailspage(interested)" class="profession">Interest Received : {{ interested.CreatedDate | date : "dd.MM.y" }}</div>
    
              <!-- Status shown -->
              <div class="horizontal-actions" *ngIf="interested.UserInterestStatus != ''">
                <ion-label class="statusview" [style.color]="interested.InterestStatusbtncolor">
                  {{interested.UserInterestStatus}}
                </ion-label>
              </div>
    
              <!-- Action buttons -->
              <div class="horizontal-actions" *ngIf="interested.UserInterestStatus == ''">
                <div class="action-item">
                  <ion-button fill="clear" class="circle-button accepted" (click)="acceptAndReject($event, interested, '1')">
                    <ion-icon name="checkmark-outline"></ion-icon>
                  </ion-button>
                  <ion-label class="action-labelaccepted">Accept</ion-label>
                </div>
    
                <div class="action-item">
                  <ion-button fill="clear" class="circle-button rejected" (click)="acceptAndReject($event, interested, '0')">
                    <ion-icon name="close-outline"></ion-icon>
                  </ion-button>
                  <ion-label class="action-labelrejected">Reject</ion-label>
                </div>
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>
    </ion-card>
    <div  *ngIf="this.nodatafoundreq == true && requesteddata == true">
      <div style="text-align: center;
        margin-top: 50px;">No request profiles found</div>
    </div>

    <ion-card class="profile-cardssssss" *ngIf="recentdata == true">
      <div class="horizontal-scroll-wrapper">
        <div class="scroll-container">
          <div class="interested-card" *ngFor="let viwers of viwersProfile">
            <div  (click)="togodetailspage(viwers)">
            <img [src]="viwers.Profile_Image" alt="Profile" class="background-image" />
            
            <div class="overlay-Viewbtn">
              <ion-icon  *ngIf="viwers.ViewedProfileStatus == 1" style="font-size: 30px;font-weight: 600;color:  var(--ion-color-primary);" name="eye-outline"></ion-icon>
              <ion-icon  *ngIf="viwers.ViewedProfileStatus != 1" style="font-size: 30px;font-weight: 600;color:  var(--ion-color-primary);" name="eye-off-outline"></ion-icon>
            </div>
          </div>
          <div>
            <div class="overlay-content">
              <p class="nameoftheuser" (click)="togodetailspage(viwers)">
                {{ viwers.FirstName }}, {{ viwers.LastName }} ,{{ viwers.Age }} Years
                <ion-icon name="checkmark-circle" class="verified-icon"></ion-icon>
              </p>
              <div (click)="togodetailspage(viwers)" class="meta">{{ viwers.Religion }} • {{ viwers.CasteOrCommunity }}</div>
              <div (click)="togodetailspage(viwers)" class="profession">{{ viwers.Occupation }}</div>
              <div (click)="togodetailspage(viwers)" class="profession">Interest Received : {{ viwers.CreatedDate | date : "dd.MM.y" }}</div>
              <div class="horizontal-actions"  style=" border: 1px solid var(--ion-color-secondary);border-radius: 5px" *ngIf="viwers.IsInterestSent == 1" >
                <ion-label class="action-labelrejected" style="font-size: 18px;margin-bottom: 2px;color:var(--ion-color-primary);">Interest Sent</ion-label>
              </div>
               <div class="horizontal-actions"   *ngIf="viwers.UserInterestStatus != 'Connencted Now'">
                  <ion-label class="statusview" style="font-size: 18px;"  [style.color]="viwers.InterestStatusBtnColor">{{viwers.UserInterestStatus}}</ion-label>
                </div>
                <div class="horizontal-actions"  style=" border: 1px solid #ff00a8;border-radius: 5px" *ngIf="viwers.UserInterestStatus == 'Connencted Now'" (click)="SendInterestedRequest(viwers,'Accept')">
               
                  <ion-label class="action-labelaccepted" style="font-size: 18px;color:var(--ion-color-secondary) ;">  {{viwers.UserInterestStatus}}</ion-label>
              </div>
              
            </div>
          </div>
          </div>
        </div>
      </div>
      
    </ion-card>
    <div  *ngIf="this.nodatafoundrecent == true && recentdata == true">
      <div style="text-align: center;
        margin-top: 50px;">No Visitor profiles found </div>
    </div>
  </ion-content>




  <ion-modal [isOpen]="openModal"  [initialBreakpoint]="0.75"  class='bottom-sheet'  [backdropDismiss]="false">
    <ng-template >
      <ion-content >
       
        <div class="login-card">
          <div style="align-items:end" (click)="closemodal()">
            <ion-icon name="close-outline" style="color: rgb(3, 3, 3);
            text-align: right;
            width: 100%;
            font-size: 28px;
            margin-left: 44%;
            margin-top: 10px;
        "></ion-icon>
          </div>
          
        <h2><strong style="color: black;">I'm Looking For a</strong></h2>
       
      
        <ion-item lines="none">
          <ion-label position="stacked" style="color: black;font-size: 18px;margin-top: 10px;"> Partner </ion-label>
          <ion-select
            [(ngModel)]="filter.partner"
            aria-label="Partner"
            placeholder="Select"
            class="custom custom-border"
            style="color: black"
          >
            <ion-select-option *ngFor="let p of partnerOptions" [value]="p.partnerName" style="--background: #ca2323;" class="custom" >
              {{ p.partnerName }}
            </ion-select-option>
          </ion-select>
        </ion-item>

<ion-item lines="none">
  <ion-label position="stacked" style="color: black;font-size: 18px;margin-top: 10px;">
    Select Location 
  </ion-label>
  <ion-select
    [(ngModel)]="filter.Location"
    aria-label="Location"
    placeholder="Select"
    class="custom custom-border"
    style="color: black"
   
  >
    <ion-select-option *ngFor="let l of locationOptions" [value]="l.Id" style="--background: #ca2323;">
      {{ l.Name }}
    </ion-select-option>
  </ion-select>
</ion-item>

<!-- Caste -->
<ion-item lines="none">
  <ion-label position="stacked" style="color: black;font-size: 18px;margin-top: 10px;">
    Select Caste 
  </ion-label>
  <ion-select
    [(ngModel)]="filter.CasteOrCommunity"
    aria-label="Caste"
    placeholder="Select"
    class="custom custom-border"
    style="color: black"
  >
    <ion-select-option *ngFor="let c of casteOptions" [value]="c.casteOrCommunity" style="--background: #ca2323;">
      {{ c.casteOrCommunity }}
    </ion-select-option>
  </ion-select>
</ion-item>

<!-- Age -->
<ion-item lines="none" >
  <ion-label position="stacked" style="color: black;font-size: 18px;margin-top: 10px;">Age Between</ion-label>
  <ion-row style="width: 100%;">
    <ion-col size="6" style="width:50%">
      <ion-select placeholder="Min Age"   style="color: black" class="custom custom-border" [(ngModel)]="filter.MinAge">
        <ion-select-option *ngFor="let age of minAgeList" [value]="age">
          {{ age }}
        </ion-select-option>
      </ion-select>
    </ion-col>
    <ion-col size="6" style="width:50%">
      <ion-select placeholder="Max Age" style="color: black;font-size: 18px;margin-top: 10px;"  style="color: black" class="custom custom-border" [(ngModel)]="filter.MaxAge">
        <ion-select-option *ngFor="let age of maxAgeList" [value]="age">
          {{ age }}
        </ion-select-option>
      </ion-select>
    </ion-col>
  </ion-row>
</ion-item>

<ion-button expand="block" class="login-button" (click)="applyFilters()">Apply Filters</ion-button>
        <ion-button expand="block" class="reset-button"   (click)="resetFilters()">Reset Filters</ion-button>
      </div>
      </ion-content>
 
    </ng-template>
  </ion-modal>
  

