ion-menu ion-content {
  --background: #f51e92;
}
.list-md{
  background: #f51e92 !important;
}
.menurowstyle{
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #edececbf;
  height: auto;
  color: #fff;
}